## 00.getting started 
1. how to print
2. assing variables
3. commet
4. syntax for basic math

In [1]:
println("I'm excited to learn Julia!")

I'm excited to learn Julia!

In [2]:
my_answer = 42
typeof(my_answer)

Int64

In [3]:
my_pi = 3.14159
typeof(my_pi)

Float64

In [4]:
😺 = "smiley cat!"
typeof(😺)

String

In [5]:
\:smiAssertionError

LoadError: syntax: "\" is not a unary operator

In [6]:
a = 0
b = -1
b + a == 1

false

In [7]:
# 이렇게 하면 단일 코멘트 달 수 있다

In [8]:
#= 이렇게 하면 멀티 코멘트 달 수 있다
굳이 추가 # 를 달지 않아도 가능하다
맨 마지막 =#
println(a + b)

-1

In [9]:
sum = 3 + 7

10

In [10]:
difference = 10 - 3

7

In [11]:
product = 20 * 5

100

In [12]:
quotient = 100 / 10

10.0

In [13]:
power = 10 ^ 2

100

In [14]:
modulus = 101 % 2

1

In [15]:
days = 365
days_float = 365.0

365.0

## 01.String
1. string 넣기
2. string 삽입
3. string 합치기

In [21]:
#1.  " " 또는 """ """ 로 string 만들 수 있음

In [22]:
s1 = "I am a string."
s2 = """I am also a string."""

"I am also a string."

In [23]:
println(typeof(s1), typeof(s2))

StringString

In [25]:
#"Hey, if you use double "" in this"  # error
"""hey, i got "this" clue """

"hey, i got \"this\" clue "

In [27]:
# ' ' 는 string 아니고 Char 
typeof('a')

Char

In [30]:
#2. 문자를 삽입해보자
name = "Jane"
num_fingers = 10
num_toes = 10

10

In [31]:
println("Hello, my name is $name.")
println("I have $num_fingers fingers and $num_toes toes")
println("That is $(num_fingers + num_toes) digits in all!")

Hello, my name is Jane.
I have 10 fingers and 10 toes
That is 20 digits in all!

In [32]:
#3. 문자 합치는 것에는 여러가지 방법이 있다
s3 = "how many cats ";
s4 = " is too many cats?";
cat = 10

10

In [33]:
string(s3, s4)

"how many cats  is too many cats?"

In [35]:
string("idk, but ", cat, " is too few")

"idk, but 10 is too few"

In [36]:
# * 를 사용해서 스트링 합치기도 가능하다
s3 * s4

"how many cats  is too many cats?"

In [39]:
hi = "hi" ^ 1000

"hihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihi"

In [41]:
a = 3
b = 4
c = "3 + 4"
d = "7"

"7"

## 02. Data structures
1. 튜플
2. 딕셔너리
3. 어레이

In [42]:
#1. 튜플 ? () 로 만들 수 있다
myf_animal = ("penguins","cats","rabbit")
typeof(myf_animal)

Tuple{String,String,String}

In [44]:
myf_animal[1] # 튜플은 1부터 시작한다

"penguins"

In [45]:
#1.1 namedTuples
myf_ = (bird = "penguins", mammal = "cats", fishs = "small_fish")

(bird = "penguins", mammal = "cats", fishs = "small_fish")

In [48]:
myf_[1] == myf_.bird

true

In [49]:
#2. 사전형, 딕셔너리 Dict(key => value)

myp = Dict("jenny" => "1234-5678",
"ella" => "6786-2342")

Dict{String,String} with 2 entries:
  "ella"  => "6786-2342"
  "jenny" => "1234-5678"

In [50]:
myp["ella"]

"6786-2342"

In [51]:
myp["mark"] = "1142-2349"

"1142-2349"

In [52]:
myp

Dict{String,String} with 3 entries:
  "ella"  => "6786-2342"
  "jenny" => "1234-5678"
  "mark"  => "1142-2349"

In [53]:
pop!(myp, "jenny")

"1234-5678"

In [54]:
myp

Dict{String,String} with 2 entries:
  "ella" => "6786-2342"
  "mark" => "1142-2349"

In [55]:
#3. 어레이
myfriends = ["Ted", "ella", "Jamie", "Nill"]

4-element Array{String,1}:
 "Ted"
 "ella"
 "Jamie"
 "Nill"

In [56]:
fibonacci = [1, 1, 2, 3, 5, 8, 13]

7-element Array{Int64,1}:
  1
  1
  2
  3
  5
  8
 13

In [57]:
fibonacci[3]

2

In [60]:
myfriends[3] = "haha"

"haha"

In [61]:
myfriends

4-element Array{String,1}:
 "Ted"
 "ella"
 "haha"
 "Nill"

In [62]:
push!(fibonacci, 21)

8-element Array{Int64,1}:
  1
  1
  2
  3
  5
  8
 13
 21

In [63]:
pop!(fibonacci) # pop 을 하면 제일 마지막 원소가 사라진다

21

In [64]:
fibonacci

7-element Array{Int64,1}:
  1
  1
  2
  3
  5
  8
 13

In [65]:
favorites = [["koobideh", "chocolat", "eggs"], ["penguines", "cats", "sugarliders"]]

2-element Array{Array{String,1},1}:
 ["koobideh", "chocolat", "eggs"]
 ["penguines", "cats", "sugarliders"]

In [66]:
numbers = [[1,2,3],[4,5], [6,7,8,9]]

3-element Array{Array{Int64,1},1}:
 [1, 2, 3]
 [4, 5]
 [6, 7, 8, 9]

In [68]:
rand(4,3) # 이렇게 하면 랜덤한 값으로 4 x 3 array 행렬을 만든다

4×3 Array{Float64,2}:
 0.826691  0.859455   0.164464
 0.784825  0.232443   0.20023
 0.887349  0.570312   0.456883
 0.180196  0.0791783  0.230292

In [69]:
rand(4,3,2)

4×3×2 Array{Float64,3}:
[:, :, 1] =
 0.646815  0.00620838  0.0952808
 0.831026  0.976533    0.38128
 0.292189  0.164129    0.0438489
 0.702602  0.366674    0.523653

[:, :, 2] =
 0.630799   0.74843   0.069486
 0.122676   0.836512  0.611669
 0.0235994  0.7108    0.278953
 0.238927   0.461991  0.523652

In [70]:
som = fibonacci # 단순히 복사한 후, 복사행렬의 원소를 바꿔도 동일하게 바뀐다

7-element Array{Int64,1}:
  1
  1
  2
  3
  5
  8
 13

In [71]:
som[1] = 3333

3333

In [72]:
som

7-element Array{Int64,1}:
 3333
    1
    2
    3
    5
    8
   13

In [73]:
fibonacci

7-element Array{Int64,1}:
 3333
    1
    2
    3
    5
    8
   13

In [74]:
som = copy(fibonacci)

7-element Array{Int64,1}:
 3333
    1
    2
    3
    5
    8
   13

In [ ]:
som[3435]